@import './bootstrap_custom.scss';
@import './products.scss';
@import './categories.scss';
@import './reviews.scss';

#registration-form,
#registration-edit-form {
  width: 40%;
} 

#login-form {
  width: 25%;
}

#image-field {
  width: 200px;
  text-align: left;
}

#date-field {
  width: 200px;
  text-align: center;
}

#profile-pic {
  width: 200px;
  height: 200px;
}