* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#product-form {
  width: 75%; 
}

.list-group.subcategories {
  z-index: 1;
}

.card {
  height: 90%;
}

.card-img-top {
  height: 7.5rem;
}

#card-title {
  overflow: hidden;
}

#product-show {
  width: 60%;
}

#review-bar {
  background-color: #294DFF;
  padding-left: 20px; 
  padding-top: 5px; 
  color: white; 
  border-radius: 7px
}


#review-form {
  width: 75%;
}

#reviews {
  height: 750px;
  width: 75%;
}

#review {
  padding: 0; 
  margin: 0;
  height: auto;
}

#review-replies {
  padding-left: 20%;
}

#reply {
  padding-left:20%;
  border: none; 
  padding: 0;
  margin: 0;
}
s
.list-group {
  z-index: 1;
}

.list-group-item {
  height: auto;
  font-size: 100%;
}

.list-group > .list-group {
  display: none;
  margin-bottom: 0;
}
.list-group-item:hover + .list-group,
.list-group-item:focus + .list-group,
.list-group-item + .list-group:hover  {
  display: block;
  position: absolute;
  margin-left: 45%;
}
.categories,
.subcategories {
  width: 50%;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
  background-color: #444;
}

.carousel-item img{ 
  height: 240px;
  width: 320px;
}