- if policy(review).show_links?  
  / = link_to "Edit", edit_polymorphic_path([review.reviewable, review]), class: "btn btn-info ml-3"
  = link_to polymorphic_path([review.reviewable, review], product: @product), remote: true, method: :delete, data: {confirm: "Are you sure?"}, class: "btn ml-5"
    i.fa.fa-trash.fa-lg